<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="container-fluid bg-muted" style="padding-top: 10px; padding-bottom: 10px">
    <h2 class="sectionHead">Create Bug</h2>
  </div>

  <div id="createNewBug" class="container tab-pane active" style="padding-bottom: 30px">


    <div class="bugForm">
      <!-- Form -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="form-group form-inline">
              <label for="uname" class="mb-2 mr-sm-2"><b>BugName :</b><span style="color: red"> * </span></label> <br>
              <input type="text" maxlength="40" class="form-control mb-2 mr-sm-2" id="name" placeholder="Enter Name of Bug"
                name="uname" [(ngModel)]='Bug.name' required>
                <span class="pull-right char"><em>{{ 40 - Bug.name.length }} characters left</em></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Project ID:</b><span style="color: red"> *</span></label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="projectId" placeholder="Enter Project ID"
              name="uname" [(ngModel)]='Bug.projectId' required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="form-group form-inline">
              <label for="uname" class="mb-2 mr-sm-2"><b>Module : </b><span style="color: red"> *</span></label>
              <br />
              <input type="text" class="form-control mb-2 mr-sm-2" id="module" placeholder="Enter Module"
                [(ngModel)]="Bug.module" required />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Build Version:</b><span style="color: red"> *</span></label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="buildVersion" placeholder="Enter Build Version"
              [(ngModel)]="Bug.buildVersion" required />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="form-group form-inline">
              <label for="uname" class="mb-2 mr-sm-2"><b>Synopsis : </b><span style="color: red"> *</span></label>
              <br />
              <textarea rows="1" placeholder="Maximum 50" maxlength="50" cols="25" type="text"
                class="form-control mb-2 mr-sm-2" id="synopsis" name="uname" [(ngModel)]="Bug.synopsis"
                required></textarea>
              <span class="pull-right char"><em>{{ 50 - Bug.synopsis.length }} characters left</em></span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Product:</b><span style="color: red"> *</span></label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="product" placeholder="Enter Product"
              [(ngModel)]="Bug.product" required />
          </div>
        </div>
      </div>


      <div class="row">
        <!-- <div class="col">
        <div class="form-group">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Submitted On : </b></label>
            <br />
            <input type="date" [(ngModel)]="Bug.submittedOn" class="form-control mb-2 mr-sm-2" id="submittedOn"
              required />
          </div>
        </div>
      </div> -->
        <div class="col">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>ETA:</b><span style="color: red"> *</span></label>
            <input type="date" [(ngModel)]="Bug.eta" class="form-control mb-2 mr-sm-2" id="eta" required />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="form-group form-inline">
              <label for="uname" class="mb-2 mr-sm-2"><b>Status : </b><span style="color: red"> *</span></label>
              <select class="custom-select custom-select mb-3" id="status" [(ngModel)]="Bug.status" required>
                <option>NEW</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="form-group form-inline">
              <label for="uname" class="mb-2 mr-sm-2"><b>Severity :</b><span style="color: red"> *</span></label>
              <select class="custom-select custom-select mb-3" id="severity" [(ngModel)]="Bug.severity" required>
                <option>CRITICAL</option>
                <option>MAJOR</option>
                <option>MINOR</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Priority : </b><span style="color: red"> *</span></label>
            <select class="custom-select custom-select mb-3" id="priority" [(ngModel)]="Bug.priority" required>
              <option>HIGH</option>
              <option>MEDIUM</option>
              <option>LOW</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Bug Type :</b><span style="color: red"> *</span></label>
            <select class="custom-select custom-select mb-3" id="type" [(ngModel)]="Bug.type" required>
              <option>SYNTAX</option>
              <option>COMPILE_TIME</option>
              <option>RUNTIME</option>
              <option>LOGICAL</option>
              <option>FUNCTIONAL</option>
              <option>CALCULATION</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group form-inline">
            <label for="uname" class="mb-2 mr-sm-2"><b>Description :</b><span style="color: red"> *</span>
            </label>
            <div class="form-group">
              <textarea maxlength="200" class="form-control" rows="5" id="description" name="text"
                placeholder="describe in 5 to 100 characters" [(ngModel)]="Bug.description" required></textarea>
              <span class="pull-right char"><em>{{ 200 - Bug.description.length }} characters left</em></span>
            </div>
          </div>
        </div>
        <div class="col">

        </div>
      </div>


      <!-- Button -->
      <button type="submit" class="btn btn-success form-control" (click)='save()'>Save</button><br>

    </div><br>
    <footer class="page-footer font-small blue" id="footer">
      <div class="footer-copyright text-center py-3">
        <small>© 2021 Copyright Code_with_HAT/Anubhav</small>
      </div>
    </footer>

  </div>
</body>
