<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="container-fluid bg-muted" style="padding-top: 10px; padding-bottom: 10px">
    <h2 class="sectionHead">Search Bug</h2>
  </div>

  <div id="searchBug" class="container tab-pane active" style="padding-bottom: 30px">
    <div class="centre">

      <div class="row">
        <div class="col">
          <div class="form-group form-inline">
            <label><b>Bug Name : </b></label>
            <input type="text" maxlength="40" class="form-control mb-2 mr-sm-2" id="name"
              placeholder="Enter Name of Bug" name="uname" style="width: 250px" [(ngModel)]='Bug.name' required>
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <label><b>Bug Status : </b></label>
            <select style="width: 250px" class="custom-select custom-select mb-3" id="status" [(ngModel)]="Bug.status"
              required>
              <option>NEW</option>
              <option>ASSIGNED</option>
              <option>OPEN</option>
              <option>FIXED</option>
              <option>PENDING_RETEST</option>
              <option>RETEST</option>
              <option>REOPEN</option>
              <option>VERIFIED</option>
              <option>CLOSED</option>
            </select>
            <div class="col">
              <div class="col">
                <!-- <button class="btn btn-info align-right" (click)="getBugName(Bug.name)">Search Name</button><br> -->
              </div>
            </div>
          </div>
        </div>




        <div class="row">
          <div class="col">
            <div class="form-group form-inline">


              <!-- <button class="btn btn-info" (click)="getBugStatus(Bug.status)">Search Status</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centre">
      <button class="btn btn-info left" (click)="ngOnInit()">Get All Bugs</button>
      &nbsp;&nbsp;
      <button class="submitButton btn btn-info" (click)="this.getBugsStatusandName()">
        Search Bug
      </button>

    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-stripped" style="border: 2px solid #000000; margin-top: 50px">
        <thead class="thead-dark">
          <td>Bug Name</td>
          <td>Project ID</td>
          <!-- <td>Module</td> -->
          <td>Build Version</td>
          <!-- <td>Synopsis</td> -->
          <td>Product</td>
          <td>Description</td>
          <td>Submitted On</td>
          <td>ETA</td>
          <td>Bug Status</td>
          <td>Bug Priority</td>
          <td>Bug Severity</td>
          <td>Bug Type</td>
          <td>Delete Bug</td>
        </thead>
        <tbody>
          <tr *ngFor='let Bug1 of bugArray; index as i'>
            <td>{{Bug1.name}}</td>
            <td>{{Bug1.projectId}}</td>
            <td>{{Bug1.buildVersion}}</td>
            <td>{{Bug1.product}}</td>
            <td> {{ Bug1.description | ellipsis : 10 }}
              <a type="text" class="btn btn-link" (click)="showDescription(this.Bug1.description)">read more</a></td>
            <td>{{Bug1.submittedOn | date: 'M/d/yy'}}</td>
            <td>{{Bug1.eta | date: 'M/d/yy'}}</td>
            <td>{{Bug1.status}}</td>
            <td>{{Bug1.priority}}</td>
            <td>{{Bug1.severity}}</td>
            <td>{{Bug1.type}}</td>
            <td> <button class="button11 btn btn-danger" (click)='this.deleteBug(Bug1.id,i)'>Delete</button></td>
        </tbody>
      </table>
    </div>
    <footer class="page-footer font-small blue" id="footer">
      <div class="footer-copyright text-center py-3">
        <small>© 2021 Copyright Code_with_HAT/Anubhav</small>
      </div>
    </footer>
  </div>
</body>
