<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="background-color: whitesmoke">
        <div class="centre">
        <h2 class="sectionHead">Our Services</h2>
          <h3>Create Bug</h3>
          <p>Create bug enables to create a new bug to the database.</p>
          <h3>Search Bug</h3>
          <p>Search Bug provides the details of a bug from the database.</p>
          <h3>Update Bug</h3>
          <p>Update Bug allows to update the details of an existing bug in
            the database.</p>
          </div>
        </div>
        <div class="col-sm-6 img-responsive"><img src="../assets/home.jpg" width="600" height="400" alt="home" /></div>
      </div>
    </div>
      <footer class="page-footer font-small blue" id="footer">
      <div class="footer-copyright text-center py-3">
        <small>© 2021 Copyright Code_with_HAT/Anubhav</small>
      </div>
    </footer>
</body>
